@import "tailwindcss";

:root {
  --primary: #21A179;
  --dark: #1E1E24;
  --secondary: #C4AF9A;
  --accent: #FB9F89;
  --gray: #6a7282;
}

body {
  color: var(--dark);
  background-color: var(--secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button, a {
  transition: background-color 0.3s ease, color 0.3s ease;
}